/* Jquery DataTable ============================ */

.dataTables_wrapper .dt-buttons a.dt-button {
  background-color: #2c2e2f;
  color: #ffffff;
  padding: 7px 7px;
  margin-right: 5px;
  margin-top: 18px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: none;
  font-size: 13px;
  outline: none;
}


